IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'ANALOG')
BEGIN
	CREATE DATABASE ANALOG;
END
GO

USE [ANALOG]
GO
/****** Object:  Table [dbo].[brands]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[brands]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[brands](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[cameras]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[cameras]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[cameras](
	[camera_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [int] NULL,
	[camera_name] [varchar](100) NOT NULL,
	[camera_year] [numeric](4, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[camera_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[collections]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[collections]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[collections](
	[collection_id] [int] IDENTITY(1,1) NOT NULL,
	[collection_name] [varchar](100) NOT NULL,
	[collection_date] [datetime] NOT NULL,
	[collection_age]  AS (datediff(year,[collection_date],getdate())),
PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[commissions]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[commissions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[commissions](
	[commission_id] [int] IDENTITY(1,1) NOT NULL,
	[commissioner] [varchar](100) NULL,
	[commission_type] [varchar](100) NOT NULL,
	[commission_amount] [numeric](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[commission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[donations]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[donations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[donations](
	[donation_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[donor_name] [varchar](100) NULL,
	[donation_amount] [numeric](10, 2) NOT NULL,
	[donation_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[donation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[events]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[events]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[events](
	[event_id] [int] IDENTITY(1,1) NOT NULL,
	[location_id] [int] NULL,
	[event_name] [varchar](100) NOT NULL,
	[event_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[films]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[films]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[films](
	[film_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [int] NULL,
	[film_speed] [numeric](4, 0) NOT NULL,
	[film_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[film_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[locations]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[locations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[locations](
	[location_id] [int] IDENTITY(1,1) NOT NULL,
	[location_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[majors]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[majors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[majors](
	[major_id] [int] IDENTITY(1,1) NOT NULL,
	[major_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[major_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[member_collections]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[member_collections]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[member_collections](
	[member_collection_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[collection_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[member_collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[members]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[members]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[social_id] [int] NULL,
	[minor_id] [int] NULL,
	[major_id] [int] NULL,
	[member_name] [varchar](100) NOT NULL,
	[member_year] [varchar](10) NOT NULL,
	[member_age] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[minors]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[minors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[minors](
	[minor_id] [int] IDENTITY(1,1) NOT NULL,
	[minor_name] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[minor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[photos]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[photos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[photos](
	[photo_id] [int] IDENTITY(1,1) NOT NULL,
	[collection_id] [int] NULL,
	[commission_id] [int] NULL,
	[camera_id] [int] NULL,
	[film_id] [int] NULL,
	[event_id] [int] NULL,
	[member_id] [int] NULL,
	[photo_name] [varchar](100) NOT NULL,
	[photo_date] [date] NOT NULL,
	[photo_description] [varchar](200) NULL,
	[photo_age]  AS (datediff(year,[photo_date],getdate())),
PRIMARY KEY CLUSTERED 
(
	[photo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[socials]    Script Date: 10/25/2024 11:12:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[socials]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[socials](
	[social_id] [int] IDENTITY(1,1) NOT NULL,
	[instagram] [varchar](100) NULL,
	[facebook] [varchar](100) NULL,
	[website] [varchar](100) NULL,
	[phone] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[social_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[brands] ON 

INSERT [dbo].[brands] ([brand_id], [brand_name]) VALUES (1, N'Canon')
INSERT [dbo].[brands] ([brand_id], [brand_name]) VALUES (2, N'Nikon')
INSERT [dbo].[brands] ([brand_id], [brand_name]) VALUES (3, N'Fujifilm')
SET IDENTITY_INSERT [dbo].[brands] OFF
GO
SET IDENTITY_INSERT [dbo].[cameras] ON 

INSERT [dbo].[cameras] ([camera_id], [brand_id], [camera_name], [camera_year]) VALUES (1, 1, N'Canon EOS R5', CAST(2020 AS Numeric(4, 0)))
INSERT [dbo].[cameras] ([camera_id], [brand_id], [camera_name], [camera_year]) VALUES (2, 2, N'Nikon Z7 II', CAST(2021 AS Numeric(4, 0)))
INSERT [dbo].[cameras] ([camera_id], [brand_id], [camera_name], [camera_year]) VALUES (3, 3, N'Fujifilm X-T4', CAST(2020 AS Numeric(4, 0)))
SET IDENTITY_INSERT [dbo].[cameras] OFF
GO
SET IDENTITY_INSERT [dbo].[collections] ON 

INSERT [dbo].[collections] ([collection_id], [collection_name], [collection_date]) VALUES (1, N'Nature Collection', CAST(N'2023-04-01T00:00:00.000' AS DateTime))
INSERT [dbo].[collections] ([collection_id], [collection_name], [collection_date]) VALUES (2, N'Urban Collection', CAST(N'2023-05-15T00:00:00.000' AS DateTime))
INSERT [dbo].[collections] ([collection_id], [collection_name], [collection_date]) VALUES (3, N'Portrait Collection', CAST(N'2023-06-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[collections] OFF
GO
SET IDENTITY_INSERT [dbo].[commissions] ON 

INSERT [dbo].[commissions] ([commission_id], [commissioner], [commission_type], [commission_amount]) VALUES (1, N'City Council', N'Public Event', CAST(500.00 AS Numeric(10, 2)))
INSERT [dbo].[commissions] ([commission_id], [commissioner], [commission_type], [commission_amount]) VALUES (2, N'Local Business', N'Advertising', CAST(300.00 AS Numeric(10, 2)))
INSERT [dbo].[commissions] ([commission_id], [commissioner], [commission_type], [commission_amount]) VALUES (3, N'Non-Profit Organization', N'Fundraiser', CAST(200.00 AS Numeric(10, 2)))
SET IDENTITY_INSERT [dbo].[commissions] OFF
GO
SET IDENTITY_INSERT [dbo].[donations] ON 

INSERT [dbo].[donations] ([donation_id], [member_id], [donor_name], [donation_amount], [donation_date]) VALUES (1, 1, N'John Doe', CAST(100.00 AS Numeric(10, 2)), CAST(N'2023-01-15T00:00:00.000' AS DateTime))
INSERT [dbo].[donations] ([donation_id], [member_id], [donor_name], [donation_amount], [donation_date]) VALUES (2, 2, N'Jane Smith', CAST(250.50 AS Numeric(10, 2)), CAST(N'2023-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[donations] ([donation_id], [member_id], [donor_name], [donation_amount], [donation_date]) VALUES (3, 3, N'Alice Johnson', CAST(75.75 AS Numeric(10, 2)), CAST(N'2023-03-10T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[donations] OFF
GO
SET IDENTITY_INSERT [dbo].[events] ON 

INSERT [dbo].[events] ([event_id], [location_id], [event_name], [event_date]) VALUES (1, 1, N'Nature Walk', CAST(N'2023-07-20' AS Date))
INSERT [dbo].[events] ([event_id], [location_id], [event_name], [event_date]) VALUES (2, 2, N'Art Exhibition', CAST(N'2023-08-10' AS Date))
INSERT [dbo].[events] ([event_id], [location_id], [event_name], [event_date]) VALUES (3, 3, N'Photo Workshop', CAST(N'2023-09-05' AS Date))
SET IDENTITY_INSERT [dbo].[events] OFF
GO
SET IDENTITY_INSERT [dbo].[films] ON 

INSERT [dbo].[films] ([film_id], [brand_id], [film_speed], [film_name]) VALUES (1, 1, CAST(100 AS Numeric(4, 0)), N'Canon Color 100')
INSERT [dbo].[films] ([film_id], [brand_id], [film_speed], [film_name]) VALUES (2, 2, CAST(400 AS Numeric(4, 0)), N'Nikon Color 400')
INSERT [dbo].[films] ([film_id], [brand_id], [film_speed], [film_name]) VALUES (3, 3, CAST(200 AS Numeric(4, 0)), N'Fujifilm Pro 200')
SET IDENTITY_INSERT [dbo].[films] OFF
GO
SET IDENTITY_INSERT [dbo].[locations] ON 

INSERT [dbo].[locations] ([location_id], [location_name]) VALUES (1, N'City Park')
INSERT [dbo].[locations] ([location_id], [location_name]) VALUES (2, N'Art Gallery')
INSERT [dbo].[locations] ([location_id], [location_name]) VALUES (3, N'Community Center')
SET IDENTITY_INSERT [dbo].[locations] OFF
GO
SET IDENTITY_INSERT [dbo].[majors] ON 

INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (1, N'Advanced Photography')
INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (2, N'Digital Editing')
INSERT [dbo].[majors] ([major_id], [major_name]) VALUES (3, N'Film Development')
SET IDENTITY_INSERT [dbo].[majors] OFF
GO
SET IDENTITY_INSERT [dbo].[member_collections] ON 

INSERT [dbo].[member_collections] ([member_collection_id], [member_id], [collection_id]) VALUES (1, 1, 1)
INSERT [dbo].[member_collections] ([member_collection_id], [member_id], [collection_id]) VALUES (2, 2, 2)
INSERT [dbo].[member_collections] ([member_collection_id], [member_id], [collection_id]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[member_collections] OFF
GO
SET IDENTITY_INSERT [dbo].[members] ON 

INSERT [dbo].[members] ([member_id], [social_id], [minor_id], [major_id], [member_name], [member_year], [member_age]) VALUES (1, 1, 1, 1, N'David Brown', N'2023', 30)
INSERT [dbo].[members] ([member_id], [social_id], [minor_id], [major_id], [member_name], [member_year], [member_age]) VALUES (2, 2, 2, 2, N'Emily White', N'2023', 25)
INSERT [dbo].[members] ([member_id], [social_id], [minor_id], [major_id], [member_name], [member_year], [member_age]) VALUES (3, 3, 3, 3, N'Michael Green', N'2023', 28)
SET IDENTITY_INSERT [dbo].[members] OFF
GO
SET IDENTITY_INSERT [dbo].[minors] ON 

INSERT [dbo].[minors] ([minor_id], [minor_name]) VALUES (1, N'Photography Basics')
INSERT [dbo].[minors] ([minor_id], [minor_name]) VALUES (2, N'Lighting Techniques')
INSERT [dbo].[minors] ([minor_id], [minor_name]) VALUES (3, N'Composition Fundamentals')
SET IDENTITY_INSERT [dbo].[minors] OFF
GO
SET IDENTITY_INSERT [dbo].[photos] ON 

INSERT [dbo].[photos] ([photo_id], [collection_id], [commission_id], [camera_id], [film_id], [event_id], [member_id], [photo_name], [photo_date], [photo_description]) VALUES (1, 1, 1, 1, 1, 1, 1, N'Sunset Over City', CAST(N'2023-07-21' AS Date), N'A beautiful sunset captured over the city skyline.')
INSERT [dbo].[photos] ([photo_id], [collection_id], [commission_id], [camera_id], [film_id], [event_id], [member_id], [photo_name], [photo_date], [photo_description]) VALUES (2, 2, 2, 2, 2, 2, 2, N'Art Piece', CAST(N'2023-08-11' AS Date), N'A close-up shot of a stunning art piece.')
INSERT [dbo].[photos] ([photo_id], [collection_id], [commission_id], [camera_id], [film_id], [event_id], [member_id], [photo_name], [photo_date], [photo_description]) VALUES (3, 3, 3, 3, 3, 3, 3, N'Workshop Participants', CAST(N'2023-09-06' AS Date), N'Participants engaging in a photography workshop.')
SET IDENTITY_INSERT [dbo].[photos] OFF
GO
SET IDENTITY_INSERT [dbo].[socials] ON 

INSERT [dbo].[socials] ([social_id], [instagram], [facebook], [website], [phone]) VALUES (1, N'https://instagram.com/example1', N'https://facebook.com/example1', N'https://example1.com', N'1234567890')
INSERT [dbo].[socials] ([social_id], [instagram], [facebook], [website], [phone]) VALUES (2, N'https://instagram.com/example2', N'https://facebook.com/example2', N'https://example2.com', N'0987654321')
INSERT [dbo].[socials] ([social_id], [instagram], [facebook], [website], [phone]) VALUES (3, N'https://instagram.com/example3', N'https://facebook.com/example3', N'https://example3.com', N'5555555555')
SET IDENTITY_INSERT [dbo].[socials] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__cameras__brand_i__534D60F1]') AND parent_object_id = OBJECT_ID(N'[dbo].[cameras]'))
ALTER TABLE [dbo].[cameras]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__donations__membe__440B1D61]') AND parent_object_id = OBJECT_ID(N'[dbo].[donations]'))
ALTER TABLE [dbo].[donations]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([member_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__events__location__4CA06362]') AND parent_object_id = OBJECT_ID(N'[dbo].[events]'))
ALTER TABLE [dbo].[events]  WITH CHECK ADD FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__films__brand_id__5629CD9C]') AND parent_object_id = OBJECT_ID(N'[dbo].[films]'))
ALTER TABLE [dbo].[films]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([brand_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__member_co__colle__47DBAE45]') AND parent_object_id = OBJECT_ID(N'[dbo].[member_collections]'))
ALTER TABLE [dbo].[member_collections]  WITH CHECK ADD FOREIGN KEY([collection_id])
REFERENCES [dbo].[collections] ([collection_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__member_co__membe__46E78A0C]') AND parent_object_id = OBJECT_ID(N'[dbo].[member_collections]'))
ALTER TABLE [dbo].[member_collections]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([member_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__members__major_i__412EB0B6]') AND parent_object_id = OBJECT_ID(N'[dbo].[members]'))
ALTER TABLE [dbo].[members]  WITH CHECK ADD FOREIGN KEY([major_id])
REFERENCES [dbo].[majors] ([major_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__members__minor_i__403A8C7D]') AND parent_object_id = OBJECT_ID(N'[dbo].[members]'))
ALTER TABLE [dbo].[members]  WITH CHECK ADD FOREIGN KEY([minor_id])
REFERENCES [dbo].[minors] ([minor_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__members__social___3F466844]') AND parent_object_id = OBJECT_ID(N'[dbo].[members]'))
ALTER TABLE [dbo].[members]  WITH CHECK ADD FOREIGN KEY([social_id])
REFERENCES [dbo].[socials] ([social_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__camera_i__5AEE82B9]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([camera_id])
REFERENCES [dbo].[cameras] ([camera_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__collecti__59063A47]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([collection_id])
REFERENCES [dbo].[collections] ([collection_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__commissi__59FA5E80]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([commission_id])
REFERENCES [dbo].[commissions] ([commission_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__event_id__5CD6CB2B]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__film_id__5BE2A6F2]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([film_id])
REFERENCES [dbo].[films] ([film_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__photos__member_i__5DCAEF64]') AND parent_object_id = OBJECT_ID(N'[dbo].[photos]'))
ALTER TABLE [dbo].[photos]  WITH CHECK ADD FOREIGN KEY([member_id])
REFERENCES [dbo].[members] ([member_id])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ch_commission_amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[commissions]'))
ALTER TABLE [dbo].[commissions]  WITH CHECK ADD  CONSTRAINT [ch_commission_amount] CHECK  (([commission_amount]>(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[ch_commission_amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[commissions]'))
ALTER TABLE [dbo].[commissions] CHECK CONSTRAINT [ch_commission_amount]
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[chk_donation_amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[donations]'))
ALTER TABLE [dbo].[donations]  WITH CHECK ADD  CONSTRAINT [chk_donation_amount] CHECK  (([donation_amount]>(0)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[chk_donation_amount]') AND parent_object_id = OBJECT_ID(N'[dbo].[donations]'))
ALTER TABLE [dbo].[donations] CHECK CONSTRAINT [chk_donation_amount]
GO
