/* Navbar */
.title-text {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Futura;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px; /* 196% */
  letter-spacing: -3px;
  margin: 0;
}

.nav-links {
  height: 52px;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 98px; /* 490% */
  letter-spacing: -1.2px;
  text-decoration: none; /* Remove underline */
}

.nav-container {
  height: 52px;
  flex: 1 0 auto;
  border: 1px solid #000; /* Add a border */
  border-left: none; /* Remove left border to avoid double borders */
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container:first-child {
  border-left: 1px solid #000; /* Add left border to the first element */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

