/* Navbar */
.title-text {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Futura;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 98px; /* 196% */
  letter-spacing: -3px;
  margin: 0;
  text-decoration: none; /* Remove underline */
}

.nav-links {
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-align: center;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-decoration: none; /* Remove underline */
}

.nav-container {
  color: black;
  height: 2rem;
  flex: 1 0 auto;
  border-left: black solid 1px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container:hover {
  background-color: #000;
  color: white;
}

.nav-container:active {
  background-color: #000;
  color: white;
}

.nav-container:first-child {
  border-left: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #000; /* Add a border */
  border-bottom: 1px solid #000; /* Add a border */
}

.page-divider {
  display: flex;
  height: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.2px;
}

/* gallery */

.gallery-card {
  display: block;
  background-color: white;
  align-items: center;
  width: 25%;
  padding: 0.5rem;
}

.gallery-img {
  width: stretch;
  height: stretch;
}

.gallery-label {
  display: flex;
  justify-content: space-between;
}

.section {
  display: block;
}

.gallery-section {
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.05625rem;
  width: 100%;
}

.gallery-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

/* resources */

.resource-card-wrapper {
  height: 25%;
  display: grid;
  grid-template-columns: 40% 60%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 3rem;

}

.resource-card-wrapper > img {
  height: 25vw;
  width: stretch;
  object-fit: cover;
  object-position: 20% 20%;
}

.resource-card-text-wrapper {
  text-align: center;
  align-content: center;
  padding: 0% 10% 0% 10%;
}

.resource-card-text-wrapper > * {
  margin: 0.5rem;
}

/* may want to move these up top after merging all pages */
h1 {
  font-size: 3rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.1875rem;;
}

p {
  font-size: 1.25rem;
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.075rem;
}

/* calendar css */

.day-card {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 5px;
  height: 50px;
  border-radius: 50%;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
  height: 5vw;
  width: 5vw;
}

.day-card:hover {
  text-decoration: underline;
}

.days-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  grid-template-rows: repeat(5, 0.5fr);
  list-style-type: none;
  margin: none;
  padding: 0;
  height: 80%;
}

.full-calendar {
  display: flex;
  justify-content: space-between;
}

.calendar-image {
  width: 50%;
}

.calendar-image img {
  width: 100%;
}

.month-header {
  font-size: 8vh;
  align-items: center;
  margin: 5px;
  letter-spacing: -1.2px;
  text-align: center;
}

.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6vw 6vw 0vw 6vw;
  justify-content: space-between;
}

.calendar-right-panel {
  width: 50%;
}

ul {
  width: 100%;
}

.weekdays-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  margin: none;
  padding: 0;
}

.weekday-card {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  list-style: none;
  font-weight: bold;
  font-size: 1.5vw;
  letter-spacing: -1.2px;
}

.event-description-wrapper {
  font-weight: bold;
  height: 20%;

  p {
    font-size: 1rem;

  }
}


.all-dates-wrapper {
  height: 70%;
}