/* Navbar */
.title-text {
  color: #000;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Futura;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px; /* 196% */
  letter-spacing: -3px;
  margin: 0;
  text-decoration: none; /* Remove underline */
}

.nav-links {
  height: 52px;
  flex: 1 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 98px; /* 490% */
  letter-spacing: -1.2px;
  text-decoration: none; /* Remove underline */
}

.nav-container {
  height: 52px;
  flex: 1 0 auto;
  border: 1px solid #000; /* Add a border */
  border-left: none; /* Remove left border to avoid double borders */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.nav-container:first-child {
  border-left: 1px solid #000; /* Add left border to the first element */
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.page-divider {
  display: flex;
  height: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.2px;
}


/* gallery */

.gallery-card {
  display: block;
  background-color: white;
  align-items: center;
  width: 25%;
  padding: 0.5rem;
}

.gallery-img {
  width: fill;
  height: fill;
}

.gallery-label {
  display: flex;
  justify-content: space-between;
}

.section {
  display: block;
}

.gallery-section {
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -1.2px;
  width: 100%;
}

.gallery-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
